<h1>施設検索</h1>
<%= search_form_for @q, url: rooms_search_path do |f| %>
  <%= f.label :address_cont, 'エリア検索' %>
  <%= f.radio_button :address_cont, "東京" %> 東京
  <%= f.radio_button :address_cont, "大阪" %> 大阪
  <%= f.radio_button :address_cont, "京都" %> 京都
  <%= f.radio_button :address_cont, "札幌" %> 札幌
  <%= f.submit '検索' %>
<% end %>

<%= search_form_for @q, url: rooms_search_path do |f| %>
  <%= f.label :name_or_introduction_cont, '施設名検索' %>
  <%= f.search_field :name_or_introduction_cont %>

  <%= f.submit '検索' %>
<% end %>

<h1>施設一覧</h1>

<table>
  <thead>
    <tr>
      <th>施設画像</th>
      <th>施設名</th>
      <th>施設詳細</th>
      <th>料金</th>
      <th>住所</th>
    </tr>
  </thead>
  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td>
          <% if room.image? %>
            <%= image_tag room.image.to_s %>
          <% else %>
            <%= image_tag "/assets/room.jpg", size: '100x100' %>
          <% end %>
        </td>
        <td><%= room.name %></td>
        <td><%= room.introduction %></td>
        <td><%= room.price %></td>
        <td><%= room.address %></td>
        <td><%= link_to '詳細', room %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '戻る', :back, class: "back_button" %>
